@font-face {
  src: url(../../fonts/Oswald/Oswald-Bold.ttf);
  font-family: 'Oswald';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url(../../fonts/Oswald/Oswald-Light.ttf);
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
}